.teste{
    
    display: flex;
    //justify-content: space-between; /* Espaça os itens de forma uniforme */
    align-items: center;
    background-color: aqua;
    justify-content: space-around;
    padding-block: 2em;
    min-height: 100dvh;
    //min-width: 100%;
    //margin: 0;
    .dummy_border_skelleton{
        padding:0 1em 0 1em;
        //max-width: 5%;
        border: black;
    }
    .def{
        background-color: beige;
        flex:1;
        align-self: center;
        min-height: inherit;
        min-width: 10em;
    }
    .abc{
        flex: 1;
        max-height: inherit;
        min-width: inherit; 
        
        display: grid;
        grid-template-rows: 35dvh 65dvh;
        #bu{
            justify-content: center;
            
        }
        //width: 50em;
    }
}


